# =============================================================================
# Data
# =============================================================================

# Ignore contents of data folders, but keep folder structure
/data/raw/*
/data/interim/*
/data/model_outputs/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/model_outputs/.gitkeep

# =============================================================================
# Python artifacts
# =============================================================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
/dist/
/build/
.eggs/

# =============================================================================
# Virtual environment
# =============================================================================

.venv/
venv/
env/

# =============================================================================
# Jupyter
# =============================================================================

.ipynb_checkpoints/

# =============================================================================
# IDE
# =============================================================================

.idea/
.vscode/

# =============================================================================
# OS
# =============================================================================

.DS_Store
Thumbs.db